@import "../shared/helper";


.home {
    .header {
        height: px(99);
        background-size: cover; //自动铺满

        >h2 {
            color: #16afff;
            text-align: center;
            font-size: px(24);
        }

        >span {
            color: #fff;
            text-align: center;
            display: inline-block;

        }
    }

}